@use '../scss/variables' as *;

/*Extends for commond styles*/

%full-screen-fixed {
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
}

%section {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background: $background;
    color: $primary-font-color;
}
